﻿html, body {
    height: 100%
}

.container {
    height: 100%;
    overflow: hidden;
}


.topRow {
    /*background-color: #3073AC;
    color: white;*/
    background-color: white;
    color: #3073AC;
    height: 100px;
}

.middleRow {
    margin-top: 150px;
    height: 100%;
}

.middleCol {
    /*background-color: #eee;*/
    height: 100%;
}

.navigationRow {
    height: 40px;
    color: #3073AC;
    position: fixed;
    bottom: 100px;
    width: 100%;
}

.bottomRow {
    /*background-color: #3073AC;
    color: white;*/
    background-color: white;
    color: #3073AC;
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.title {
    font-size: 60px;
    font-family: 'Calibri Light';
}
.footer {
    font-size: 20px;
    font-family: 'Calibri Light';
}
.footerCount {
    font-size: 30px;
    font-family: 'Calibri Light';
}

.questionImage
{
    width: 180px;
}
.questionAuthor {
    font-size: 44px;
    font-family: 'Calibri Light';
}
.questionModeration {
    font-size: 44px;
    font-family: 'Calibri';
    color: green;
}
.questionText {
    font-size: 60px;
    font-family: 'Calibri';
}

.questionTextSmall {
    font-size: 40px;
    font-family: 'Calibri';
}


.questionsWaiting 
{
    margin-top: 30px;
    font-size: 44px;
    font-family: 'Calibri';
    color: green;
}

.attachment{
    max-height: 600px;
    max-width: 800px;
}

/* Spinner */
.loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: inline-block; /* center inside the col */
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}